#=============================================================================#

CONFIG_USB_ETH=n
CONFIG_USB_ETH_RNDIS=n
CONFIG_USB_GADGETFS=n
CONFIG_USB_G_SERIAL=n
CONFIG_USB_G_MULTI=n
CONFIG_USB_G_CDC=n
CONFIG_USB_G_ETHER=n
CONFIG_USB_G_PRINTER=n
CONFIG_USB_G_WEBCAM=n

CONFIG_USB_GADGET=y
CONFIG_USB_LIBCOMPOSITE=y

CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_CONFIGFS_ECM=y
CONFIG_USB_CONFIGFS_NCM=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_LIBCOMPOSITE=y

CONFIG_USB_DWC2_PERIPHERAL=y

#=============================================================================#

CONFIG_BRCMDBG=y

CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_SPI_STM32=y
CONFIG_SPI_SPIDEV=y

CONFIG_GPIO_PCA953X=y

CONFIG_MEMORY=y
CONFIG_STM32_FMC2_EBI=y
CONFIG_MTD=y
CONFIG_MTD_RAM=y
CONFIG_MTD_BLOCK=y

