[Unit]
Description=Hostapd IEEE 802.11 Access Point
Wants=systemd-networkd.service
Before=systemd-networkd.service
Before=systemd-networkd-wait-online.service
Before=network.target
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/hostapd /etc/hostapd.conf -P /run/hostapd.pid -B

[Install]
WantedBy=multi-user.target

